

img {
    width: 50%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: absolute;

}

.landing {
    position: absolute;
}

body { 
    margin: 0;
    height: 100vh;
  }
  
 
  
  h1, h2, h3, p {
    position: absolute;
    top: 2em;
    left: 2em;
    font-family: 'Montserrat';
    font-size: 7em;
    text-transform: uppercase;
    width: auto;
    line-height: .8em;
    border: 5px solid black;
    padding: .2em;
    float: right;
  }